body {

    background-image: linear-gradient(90deg, #98DDFC, #C8B1EB, #4A5EEF);


    height: 1080px;
    width: 1920px;

    max-height: 100vh;
    max-width: 1920px;

}

.customSearch {
    border: none;
    border-radius: 10px;
    height: 45px;
    width: 400px;
    box-shadow: 2px 2px 10px rgb(187, 187, 187);


}

.purpleColor {
    background-color: #BDB8F8;
    border-radius: 10px;
    padding: 6px;
    border: none;

}

.purpleColor:hover {
    background-color: #aea9e3;
    border-radius: 10px;

}

.purpleColor:active {
    background-color: #a39fd6;
    border-radius: 10px;
}



.padding {
    padding-left: 420px;
    padding-right: 420px;
}

.padding1 {
    padding-left: 405px;
    padding-right: 405px;
}

.navFont {
    font-size: 45px;
    color: #707070;
    font-family: 'Philosopher', sans-serif;
}

.locationFont {
    color: #454545;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
}

.currentDay {
    background-color: white;
    border-radius: 20px;
    padding: 20px 30px;
}



.currentDayWeatherFont {
    font-size: 130px;
    color: #454545;
    font-family: 'Philosopher', sans-serif;
}

.currentDayDescFont {
    font-size: 35px;
    color: #454545;
    font-family: 'Philosopher', sans-serif;
}

.currentDayOfTheWeekFont {
    font-size: 30px;
    color: #454545;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
}

.eightAmFont {
    font-size: 25px;
    color: #454545;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.eightAmWeatherFont {
    font-size: 50px;
    color: #454545;
    font-family: 'Philosopher', sans-serif;
}

.fiveDayForecast {

    border-radius: 20px;

}

.favBtn {
    background-color: rgba(255, 255, 255, 0.657);
    border-radius: 15px;
    width: 555px;
    height: 65px;
    border: none;
}

.favBtn:hover {
    background-color: rgba(255, 255, 255, 0.599);
    border-radius: 15px;
    width: 555px;
    border: none;
}

.favBtn:active {
    background-color: rgba(255, 255, 255, 0.368);
    border-radius: 15px;
    width: 555px;

    border: none;
}

.favBtn p {

    font-size: 20px;
    margin-bottom: 0;
    padding: 7px;
    color: #707070;
}

.offcanvas {
    background-color: rgba(255, 255, 255, 0.561);
    max-width: 380px;

}

.createdDivTag {
    background-color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.createdPTag {
    color: #707070;
    width: fit-content;
    font-size: 25px;
    margin: 0;
}

.createColTag {
    display: flex;
    align-items: center;

}

.createdImg {
    width: 15px;
}

.imgAdjust {
    margin-top: 15px;
}


.background-img {
    position: absolute;

    top: 230px;
    left: 0;
    width: auto;
    height: 850px;
    z-index: -1;
}

.currentDay1 {
    background-color: rgba(255, 255, 255, 0.623);

    border-radius: 20px;
    padding: 20px 45px;
}

.locationFont1 {
    color: #454545;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    letter-spacing: normal;

}